* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px;
    background-color: #1F2937;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 75%;
    color: #999999;
    background-color: #1F2937;
    padding: 20px 50px;
}
header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.header-left {
    flex: 1 1 auto;
    white-space: nowrap;
}
.header-left img {
    object-fit: cover;
    width: 75px;
    height: 50px;
}
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    white-space: nowrap;
}
.hero {
    display: flex;
    background-color: #1F2937;
    padding: 50px;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.hero-left {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    gap: 15px;
    width: 640px;
}
.hero-left .main-text {
    font-size: 36px;
    font-weight: bold;
    color: #F9FAF8;
}
.sub-text {
    font-size: 18px;
    color: #E5E7EB;
}
.hero .hero-left button {
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #E5E7EB;
    border-style: none;
}
.hero .hero-left button a {
    color: #1F2937;
    text-decoration: none;
}
.hero-right {
    flex: 1;
    display: flex;
    min-width: 300px;
} 
.hero-right img {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.image {
    height: auto;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    gap: 24px;
}
.information .main-text {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}
.information .reasons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    gap: 24px;
}
.information .reasons .item img {
    object-fit: contain;
    width: 200px;
    height: 110px;
    border: 2px solid #555;
    border-radius: 8px;
}
.information .reasons .item .text{
    width: 200px;
    margin: auto;
}
.quote-bg {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.quote-bg .one,
.quote-bg .two {
    width: 200px;
}
@media only screen and (max-width: 700px) {
    .quote-bg .one,
    .quote-bg .two {
        width: 20px;
}
  }
.quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    padding: 20px 50px;
    flex: 2;
}
.quote .left {
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 15px;
}
.quote .right {
    text-align: right;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.cta .container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    padding: 50px;
    border-radius: 8px;
}
.cta .cta-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 5px;
    padding: 0 25px;
}
.cta .cta-right {
    padding: 0 25px;
}
.cta .cta-left .main-text {
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
}
.cta .cta-left .sub-text {
    color: #E5E7EB;
    font-size: 90%;
    
}
.cta .cta-right button {
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #1F2937;
    border: 2px solid #E5E7EB;
}
.cta .cta-right button a {
    color: #E5E7EB;
    text-decoration: none;
}